*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.border{
    border-top: 3px solid #931420;
}

#nav_menu{
    border-bottom: 3px solid #800000;
    background-color: #800000;
}

#nav_menu ul{
    list-style: none;
    display: flex;
}

#nav_menu li{
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover{
    color: yellow;
}

html{
    background-color: white;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}


.shadow{
    text-shadow: 1.5px 1.5px #800000;
}


header{
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);
    
}

header img{
    float: left;
    padding-bottom: 1em;
    /* padding: 1em; */
    padding-left: 1em;
    padding-right: 1em;
    
}

header h2{
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3{
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}


main{
    
    padding: 1em;
    display: flex;
    flex-direction: row;
}


main aside{
    align-items: center;
    padding-left: .5em;
    width: 400px;
    
   
}
main section{
    padding-left: 7em;
    width: 1300px;
}

section img{
    float: right;
    padding-left: 2em;
    
}





main h1{
    font-size: 150%;
    padding: .3em 0;
    /* border-top: 3px solid #931420; */
    /* border-bottom: 3px solid #931420; */
    
}

main h2{
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3{
    font-size: 105%;
    padding-bottom: .25em;
}

main img{
    padding-bottom: 1em;
}

main p{
    padding-bottom: .5em;
}

main blockquote{
    padding: 0 2em;
    font-style: italic;
}

main ul{
    padding: 0 0 .25em 1.25em;
}

main il{
    padding-bottom: .35em;
}

a:hover{
    font-style: italic;
    color: #800000;
}



footer{
   text-align: center;
   background-color: #931420;
}

footer p{
    color: white;
    padding: 1em 0;
}