body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
header img{
    float: left;
}

.shadow{
    text-shadow: 1.5px 1.5px #800000;
}


header h2{
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3{
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

main{
    clear: both;
}
main h1{
    font-size: 150%;
}

main h2{
    font-size: 130%;
    color: #800000;
}

main h3{
    font-size: 105%;
}

a:hover{
    font-style: italic;
    color: #800000;
}

footer{
   text-align: center;
}